{% extends "food/base.html" %}
<title> {% block title %} Register{% endblock %} </title>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4" >
            <div class="card">
                <div class="card-header bg-warning text-black">
                    <div class="card_title">
                        <h2 class="text-center"> Register </h2>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST"> {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">

                                {{ field.name }}
                                <br>
                                {{ field }}
                        {% endfor %}
                        <button type="submit" class="btn btn-warning"> Sing Up</button>
                    </form>
                </div>
        </div>
    </div>
</div>

{% endblock body %}
